@page "/Error"
@using System.Diagnostics
@using Microsoft.Extensions.Localization
@inject IStringLocalizer<IMS.Components.Pages.Error> L

<PageTitle>@L["Error"]</PageTitle>

<h1 class="text-danger">@L["ErrorDot"]</h1>
<h2 class="text-danger">@L["ProcessingError"]</h2>

@if (ShowRequestId)
{
    <p>
        <strong>@L["RequestIDLabel"]</strong> <code>@RequestId</code>
    </p>
}

<h3>@L["DevelopmentMode"]</h3>
<p>
    @L["DevModeDescriptionPart1"]
</p>
<p>
    <strong>@L["DevModeWarningTitle"]</strong>
    @L["DevModeWarningBody"]
</p>

@code {
    [CascadingParameter]
    private HttpContext? HttpContext { get; set; }

    private string? RequestId { get; set; }
    private bool ShowRequestId => !string.IsNullOrEmpty(RequestId);

    protected override void OnInitialized() =>
        RequestId = Activity.Current?.Id ?? HttpContext?.TraceIdentifier;
}
