@page "/purchase"
@using IMS.Helpers
@using IMS_Shared.Dtos
@using System.ComponentModel.DataAnnotations
@using Microsoft.Extensions.Localization
@inject InventoryApiClient ApiClient
@rendermode InteractiveServer
@attribute [StreamRendering]
@inject IStringLocalizer<IMS.Components.Pages.Purchase> L

<MudThemeProvider />
<MudPopoverProvider />
<MudDialogProvider />
<MudSnackbarProvider />

<h3>@L["Title"]</h3>


@if (isLoading == null)
{
    <p>The page had problems loading.</p>
    <p>Error: @errorMessage</p>
    <br />
    <p>Please reload the page.</p>
}
else if (isLoading.Value)
{
    <p>@L["Loading"]</p>
}
else
{
    <MudDataGrid T="StockDto" MultiSelection="true" Items="@stockList.Where(x => x.Amount > 0)" SortMode="SortMode.Multiple" Filterable="true" QuickFilter="@_quickStockFilter" Hideable="true">
        <ToolBarContent>
            <MudText Typo="Typo.h6">@L["AvailableStock"]</MudText>
            <MudSpacer />
            <MudTextField @bind-Value="_stockSearchString" Placeholder="Search" Adornment="Adornment.Start" Immediate="true"
                          AdornmentIcon="@Icons.Material.Filled.Search" IconSize="Size.Medium" Class="mt-0"></MudTextField>
        </ToolBarContent>
        <Columns>
            <PropertyColumn Property="x => x.Name" Title="@L["Name"]" />
            <PropertyColumn Property="x => x.Amount" Title="@L["Available"]" />
            <PropertyColumn Property="x => x.SellPrice.ToString()" Title="@L["Price"]" />
            <TemplateColumn CellClass="d-flex justify-end">
                <CellTemplate>
                    <MudStack Row>
                        <MudButton Size="Size.Small" OnClick="@(() => AddToCart(context.Item))" Color="Color.Primary" Variant="Variant.Filled">
                            +
                        </MudButton>

                        <MudButton Size="Size.Small" OnClick="@(() => RemoveFromCart(context.Item))" Color="Color.Error" Variant="Variant.Filled">
                            -
                        </MudButton>
                    </MudStack>
                </CellTemplate>
            </TemplateColumn>
        </Columns>
        <PagerContent>
            <MudDataGridPager T="StockDto" />
        </PagerContent>
    </MudDataGrid>

    <hr />

    <h4>@L["CurrentPurchase"]</h4>

    <div class="mb-3">
        <label>@L["BuyerName"]:</label>
        <InputText @bind-Value="buyerName" class="form-control" placeholder="@L["EnterBuyerName"]" />
    </div>

    <select class="form-select d-inline w-auto" @bind="sellerId">
        <option value="-1">
            Select a seller
        </option>
        @foreach (var seller in sellerList)
        {
            <option value="@seller.Id">
                @seller.Name
            </option>
        }
    </select>

    <hr />

    @if (cart.Any())
    {
        <h5>@L["Total"]: @TotalPrice.ToString("C")</h5>
        <button class="btn btn-success" @onclick="BuyAsync">@L["Buy"]</button>

        <hr />

        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>@L["Item"]</th>
                    <th>@L["Quantity"]</th>
                    <th>@L["PriceEach"]</th>
                    <th>@L["Total"]</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var cartItem in cart)
                {
                    <tr>
                        <td>@cartItem.Key.Name</td>
                        <td>@cartItem.Value</td>
                        <td>@cartItem.Key.SellPrice.ToString("C")</td>
                        <td>@((cartItem.Value * cartItem.Key.SellPrice).ToString("C"))</td>
                    </tr>
                }
            </tbody>
        </table>
    }
    else
    {
        <p>@L["NoItemsInPurchase"]</p>
    }
}

@code {
    private string buyerName = string.Empty;
    private List<StockDto> stockList = new();
    private List<SellerDto> sellerList = new();
    private Dictionary<StockDto, int> cart = new();
    private int sellerId = -1;
    private bool? isLoading = true;
    private string _stockSearchString = string.Empty;
    private string errorMessage = string.Empty;

    protected override async Task OnInitializedAsync()
    {
        var stockTask = LoadStocksAsync();
        var sellerTask = LoadSellersAsync();

        await Task.WhenAll(stockTask, sellerTask);

        if (isLoading != null)
            isLoading = false;
    }

    private Func<StockDto, bool> _quickStockFilter => x =>
    {
        if (string.IsNullOrWhiteSpace(_stockSearchString))
            return true;

        if (x.Name?.Contains(_stockSearchString, StringComparison.OrdinalIgnoreCase) ?? false)
            return true;

        if (x.SellPrice.ToString().Contains(_stockSearchString, StringComparison.OrdinalIgnoreCase))
            return true;

        if (x.Amount?.ToString().Contains(_stockSearchString, StringComparison.OrdinalIgnoreCase) ?? false)
            return true;

        return false;
    };

    private async Task LoadStocksAsync()
    {
        var result = await ApiClient.GetAllStocksAsync();
        if (!result.Success)
        {
            errorMessage = string.IsNullOrEmpty(result.Error) ? "Failed to load stocks." : result.Error;
            isLoading = null;
            return;
        }

        stockList = result.Data ?? new();
    }

    private async Task LoadSellersAsync()
    {
        var result = await ApiClient.GetActiveSellersAsync();
        if (!result.Success)
        {
            errorMessage = string.IsNullOrEmpty(result.Error) ? "Failed to load sellers." : result.Error;
            isLoading = null;
            return;
        }

        sellerList = result.Data ?? new();
    }


    private void AddToCart(StockDto item)
    {
        if (cart.TryGetValue(item, out var amount))
        {
            if (amount < item.Amount)
                cart[item]++;
        }
        else
        {
            if (item.Amount > 0)
                cart.TryAdd(item, 1);
        }
    }

    private void RemoveFromCart(StockDto item)
    {
        if (!cart.TryGetValue(item, out _))
            return;

        cart[item]--;
        if (cart[item] <= 0)
            cart.Remove(item);
    }

    private decimal TotalPrice => cart.Sum(c => c.Value * c.Key.SellPrice);

    private async Task BuyAsync()
    {
        //TODO: VALIDATE INPUT
        if (string.IsNullOrWhiteSpace(buyerName))
        {
            Console.WriteLine("Buyer name is required.");
            return;
        }

        if (!cart.Any())
        {
            Console.WriteLine("Cart is empty.");
            return;
        }

        if (sellerId == -1)
        {
            Console.WriteLine("Select a seller.");
            return;
        }

        var result = await ApiClient.CreatePurchaseAsync(new PurchaseRequestDto
        {
            SellerId = sellerId,
            BuyerName = buyerName,
            Items = cart.Select(c => new PurchaseRequestItemDto
            {
                StockId = c.Key.StockId ?? 0,
                Amount = c.Value
            }).ToList()
        });

        if (!result.Success)
        {
            await JS.InvokeVoidAsync("alert", $"Error: {result.Error}");
            return;
        }

        await ViewReceiptAsync(result.Data);

        cart.Clear();
        buyerName = string.Empty;
        sellerId = -1;

        var stockTask = LoadStocksAsync();

        await Task.WhenAll(stockTask);
    }

    private async Task ViewReceiptAsync(int purchaseId)
    {
        var fileApiResult = await ApiClient.GetPurchaseReceipt(purchaseId);
        if (fileApiResult.Success && fileApiResult.Data != null)
            await OpenFileAsync(fileApiResult.Data);
    }

    private async Task OpenFileAsync(byte[] file)
    {
        var base64 = Convert.ToBase64String(file);
        await JS.InvokeVoidAsync("openPdfBlob", base64);
    }

    [Inject] IJSRuntime JS { get; set; } = default!;
}