@page "/purchase-history"
@using IMS.Components.Dialogs
@using IMS.Helpers
@using IMS_Shared.Dtos
@using System.ComponentModel.DataAnnotations
@using Microsoft.Extensions.Localization
@inject InventoryApiClient ApiClient
@rendermode InteractiveServer
@attribute [StreamRendering]
@inject IDialogService DialogService
@inject IStringLocalizer<IMS.Components.Pages.PurchaseHistory> L

<MudThemeProvider />
<MudPopoverProvider />
<MudDialogProvider />
<MudSnackbarProvider />

<h3>@L["Title"]</h3>


@if (isLoading == null)
{
    <p>@L["PageLoadError"]</p>
    <p>@L["ErrorLabel"]: @errorMessage</p>
    <br />
    <p>@L["PleaseReload"]</p>
}
else if (isLoading.Value)
{
    <p>@L["Loading"]</p>
}
else
{
    <MudDataGrid T="PurchaseResponseDto" MultiSelection="true" Items="purchaseList.Where(x => x.Status == IMS_Shared.Enums.PurchaseStatus.Purchased)" SortMode="SortMode.Multiple" Filterable="true" QuickFilter="@_quickPurchaseFilter" Hideable="true">
        <ToolBarContent>
            <MudText Typo="Typo.h6">@L["ConfirmedPurchases"]</MudText>
            <MudSpacer />
            <MudTextField @bind-Value="_purchasedSearchString" Placeholder="@L["Search"]" Adornment="Adornment.Start" Immediate="true"
                          AdornmentIcon="@Icons.Material.Filled.Search" IconSize="Size.Medium" Class="mt-0"></MudTextField>
        </ToolBarContent>
        <Columns>
            <PropertyColumn Property="x => x.Id" />
            <PropertyColumn Property="x => x.BuyerName" Title="@L["Buyer"]" />
            <PropertyColumn Property="x => GetSellerName(x.SellerId)" Title="@L["Seller"]" />
            <PropertyColumn Property="x => GetPurchaseDateString(x.PurchaseDate)" Title="@L["PurchaseDate"]" />
            <TemplateColumn Title="@L["Items"]">
                <CellTemplate Context="context">
                    <MudButton Size="Size.Small"
                               Variant="Variant.Text"
                               OnClick="@(() => OpenItemsDialogAsync(context.Item.ItemList))">
                        @L["View"]
                    </MudButton>
                </CellTemplate>
            </TemplateColumn>
            <TemplateColumn CellClass="d-flex justify-end">
                <CellTemplate>
                    <MudStack Row>
                        <MudButton Size="Size.Small" OnClick="@(() => ViewReceiptAsync(context.Item.Id))" Color="Color.Primary" Variant="Variant.Filled">
                            @L["Receipt"]
                        </MudButton>
                    </MudStack>
                </CellTemplate>
            </TemplateColumn>
        </Columns>
        <PagerContent>
            <MudDataGridPager T="PurchaseResponseDto" />
        </PagerContent>
    </MudDataGrid>

    <hr />

    <MudDataGrid T="PurchaseResponseDto" MultiSelection="true" Items="purchaseList.Where(x => x.Status != IMS_Shared.Enums.PurchaseStatus.Purchased).OrderBy(x => x.Status)" SortMode="SortMode.Multiple" Filterable="true"
                 QuickFilter="@_quickPendingPurchaseFilter" Hideable="true">
        <ToolBarContent>
            <MudText Typo="Typo.h6">@L["CanceledAndPendingPurchases"]</MudText>
            <MudSpacer />
            <MudTextField @bind-Value="_pendingPurchaseSearchString" Placeholder="@L["Search"]" Adornment="Adornment.Start" Immediate="true"
                          AdornmentIcon="@Icons.Material.Filled.Search" IconSize="Size.Medium" Class="mt-0"></MudTextField>
        </ToolBarContent>
        <Columns>
            <PropertyColumn Property="x => x.Id" />
            <PropertyColumn Property="x => x.BuyerName" Title="@L["Buyer"]" />
            <PropertyColumn Property="x => GetSellerName(x.SellerId)" Title="@L["Seller"]" />
            <TemplateColumn Title="@L["Items"]">
                <CellTemplate Context="context">
                    <MudButton Size="Size.Small"
                               Variant="Variant.Text"
                               OnClick="@(() => OpenItemsDialogAsync(context.Item.ItemList))">
                        @L["View"]
                    </MudButton>
                </CellTemplate>
            </TemplateColumn>
            <PropertyColumn Property="x => x.Status" />
            <TemplateColumn CellClass="d-flex justify-end">
                <CellTemplate>
                    @if (context.Item.Status == IMS_Shared.Enums.PurchaseStatus.Pending)
                    {
                        <MudStack Row>
                            <MudButton Size="Size.Small" OnClick="@(() => CancelPurchaseAsync(context.Item.Id))" Color="Color.Warning" Variant="Variant.Filled">
                                @L["CancelPurchase"]
                            </MudButton>

                            <MudButton Size="Size.Small" OnClick="@(() => ConfirmPurchaseAsync(context.Item.Id))" Color="Color.Secondary" Variant="Variant.Filled">
                                @L["ConfirmPurchase"]
                            </MudButton>

                            <MudButton Size="Size.Small" OnClick="@(() => ViewReceiptAsync(context.Item.Id))" Color="Color.Primary" Variant="Variant.Filled">
                                @L["SampleReceipt"]
                            </MudButton>
                        </MudStack>
                    }
                </CellTemplate>
            </TemplateColumn>
        </Columns>
        <PagerContent>
            <MudDataGridPager T="PurchaseResponseDto" />
        </PagerContent>
    </MudDataGrid>
}

@code {
    private List<PurchaseResponseDto> purchaseList = new();
    private List<SellerDto> sellerList = new();
    private bool? isLoading = true;
    private string _purchasedSearchString = string.Empty;
    private string _pendingPurchaseSearchString = string.Empty;
    private string errorMessage = string.Empty;

    protected override async Task OnInitializedAsync()
    {
        var sellerTask = LoadSellersAsync();
        var purchasesTask = LoadPurchasesAsync();

        await Task.WhenAll(sellerTask, purchasesTask);

        if (isLoading != null)
            isLoading = false;
    }

    private string GetPurchaseDateString(DateTime? date)
    => date?.ToString() ?? L["Pending"].ToString();

    private string GetSellerName(int id)
    => sellerList.FirstOrDefault(y => y.Id == id)?.Name ?? L["Unknown"].ToString();

    private Func<PurchaseResponseDto, bool> _quickPurchaseFilter => x =>
    {
        return IsPurchaseMatchingSearchString(x, _purchasedSearchString);
    };

    private Func<PurchaseResponseDto, bool> _quickPendingPurchaseFilter => x =>
    {
        return IsPurchaseMatchingSearchString(x, _pendingPurchaseSearchString);
    };

    private bool IsPurchaseMatchingSearchString(PurchaseResponseDto x, string searchString)
    {
        if (string.IsNullOrWhiteSpace(searchString))
            return true;

        if (x.Id.ToString().Contains(searchString, StringComparison.OrdinalIgnoreCase))
            return true;

        if (x.BuyerName.Contains(searchString, StringComparison.OrdinalIgnoreCase))
            return true;

        if (GetPurchaseDateString(x.PurchaseDate).Contains(searchString, StringComparison.OrdinalIgnoreCase))
            return true;

        if (x.Items.Any(item => item.StockName.Contains(searchString, StringComparison.OrdinalIgnoreCase)))
            return true;

        return false;
    }

    private async Task OpenItemsDialogAsync(string items)
    {
        var parameters = new DialogParameters
        {
            ["Items"] = items
        };

        await DialogService.ShowAsync<ItemsDialog>(L["Items"].ToString(), parameters);
    }

    private async Task LoadPurchasesAsync()
    {
        var result = await ApiClient.GetPurchasesAsync();
        if (!result.Success)
        {
            errorMessage = string.IsNullOrEmpty(result.Error) ? L["FailedToLoadPurchases"].ToString() : result.Error;
            isLoading = null;
            return;
        }

        purchaseList = result.Data ?? new();
    }

    private async Task LoadSellersAsync()
    {
        var result = await ApiClient.GetSellersAsync();
        if (!result.Success)
        {
            errorMessage = string.IsNullOrEmpty(result.Error) ? L["FailedToLoadSellers"].ToString() : result.Error;
            isLoading = null;
            return;
        }

        sellerList = result.Data ?? new();
    }

    private async Task CancelPurchaseAsync(int purchaseId)
    {
        var result = await ApiClient.CancelPurchaseAsync(purchaseId);
        if (!result.Success)
        {
            await AlertUserAsync(string.IsNullOrEmpty(result.Error) ? string.Format(L["UnableToCancelPurchase"].ToString(), purchaseId) : result.Error);
            return;
        }

        await LoadPurchasesAsync();
    }

    private async Task ConfirmPurchaseAsync(int purchaseId)
    {
        var result = await ApiClient.CompletePendingPurchaseAsync(purchaseId);
        if (!result.Success)
        {
            await AlertUserAsync(string.IsNullOrEmpty(result.Error) ? string.Format(L["UnableToCompletePurchase"].ToString(), purchaseId) : result.Error);
            return;
        }

        var viewReceiptTask = ViewReceiptAsync(purchaseId);
        var reloadTableTask = LoadPurchasesAsync();

        await Task.WhenAll(viewReceiptTask, reloadTableTask);
    }

    private async Task ViewReceiptAsync(int purchaseId)
    {
        var fileApiResult = await ApiClient.GetPurchaseReceipt(purchaseId);
        if (fileApiResult.Success && fileApiResult.Data != null)
            await OpenFileAsync(fileApiResult.Data);
    }

    private async Task OpenFileAsync(byte[] file)
    {
        var base64 = Convert.ToBase64String(file);
        await JS.InvokeVoidAsync("openPdfBlob", base64);
    }

    private async Task AlertUserAsync(string message)
    {
        await JS.InvokeVoidAsync("alert", message);
    }

    [Inject] IJSRuntime JS { get; set; } = default!;
}