@page "/sellers"
@using IMS.Components.Layout
@using IMS.Helpers
@using IMS_Shared.Dtos
@using System.ComponentModel.DataAnnotations
@using IMS_Shared.Enums
@inject InventoryApiClient ApiClient
@rendermode InteractiveServer
@attribute [StreamRendering]
@using Microsoft.Extensions.Localization
@inject IStringLocalizer<IMS.Components.Pages.Sellers> L

<h3>@L["Title"]</h3>


<LoadingWrapper IsLoading="@isLoading" ErrorMessage="@errorMessage">
    <div class="card p-3 mb-4">
        <h5>@L["AddNewSeller"]</h5>
        <EditForm Model="sellerModel" OnValidSubmit="HandleValidSubmit" FormName="StockForm">
            <DataAnnotationsValidator />
            <ValidationSummary />

            <div class="mb-3">
                <label>@L["Name"]:</label>
                <InputText class="form-control" @bind-Value="sellerModel.Name" />
            </div>

            <button class="btn btn-primary me-2" type="submit">
                @L["AddSeller"]
            </button>

        </EditForm>
    </div>

    <table class="table table-striped">
        <thead>
            <tr>
                <th>@L["Id"]</th>
                <th>@L["Name"]</th>
                <th>@L["Status"]</th>
                <th>@L["ChangeStatus"]</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var s in sellers)
            {
                <tr>
                    <td>@s.Id</td>
                    <td>@s.Name</td>
                    <td>@s.Status</td>
                    <td>
                        <select class="form-select d-inline w-auto" @onchange="@(e => OnStatusChanged(s.Id, e.Value?.ToString()))">
                            @foreach (var status in Enum.GetValues<SellerStatus>())
                            {
                                <option value="@status"
                                        selected="@(GetSelectedStatus(s.Id) == status)">
                                    @status
                                </option>
                            }
                        </select>

                        <button class="btn btn-sm btn-success ms-2"
                                @onclick="() => ChangeStatus(s.Id)">
                            @L["Save"]
                        </button>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</LoadingWrapper>

@code {
    private List<SellerDto> sellers = new();
    private SellerDto sellerModel = new();
    private Dictionary<int, SellerStatus> pendingStatus = new();
    private bool? isLoading = true;
    private string errorMessage = string.Empty;

    protected override async Task OnInitializedAsync()
    {
        await GetSellersAsync();

        if (isLoading != null)
            isLoading = false;
    }

    private async Task GetSellersAsync()
    {
        var result = await ApiClient.GetSellersAsync() ?? new();
        if (!result.Success)
        {
            errorMessage = result.Error;
            isLoading = null;
            return;
        }

        sellers = result.Data ?? new();
    }

    private async Task HandleValidSubmit()
    {
        var result = await ApiClient.AddSellerAsync(sellerModel);
        if (!result.Success)
        {
            await JS.InvokeVoidAsync("alert", $"{L["ErrorLabel"]}: {result.Error}");
            return;
        }

        sellerModel = new();
        await GetSellersAsync();
    }

    private void OnStatusChanged(int sellerId, string? newValue)
    {
        if (Enum.TryParse<SellerStatus>(newValue, out var parsed))
            pendingStatus[sellerId] = parsed;
    }

    private SellerStatus GetSelectedStatus(int sellerId)
    {
        if (pendingStatus.TryGetValue(sellerId, out var temp))
            return temp;

        return sellers.First(x => x.Id == sellerId).Status;
    }

    private async Task ChangeStatus(int sellerId)
    {
        if (!pendingStatus.TryGetValue(sellerId, out var newStatus))
            return;

        var result = await ApiClient.ChangeSellerStatusAsync(new SellerDto
        {
            Id = sellerId,
            Status = newStatus
        });

        if (!result.Success)
        {
            await JS.InvokeVoidAsync("alert", $"{L["ErrorChangingStatus"]}: {result.Error}");
            return;
        }

        pendingStatus.Remove(sellerId);

        await GetSellersAsync();
    }

    [Inject] IJSRuntime JS { get; set; } = default!;
}
