@page "/suppliers"
@using IMS.Helpers
@using IMS_Shared.Dtos
@using System.ComponentModel.DataAnnotations
@inject InventoryApiClient ApiClient
@rendermode InteractiveServer
@attribute [StreamRendering]
@using Microsoft.Extensions.Localization
@inject IStringLocalizer<IMS.Components.Pages.Suppliers> L

<h3>@L["Title"]</h3>

@if (isLoading == null)
{
    <p>@L["PageLoadError"]</p>
    <p>@L["ErrorLabel"]: @errorMessage</p>
    <br />
    <p>@L["PleaseReload"]</p>
}
else if (isLoading.Value)
{
    <p>@L["Loading"]</p>
}
else
{
    <div class="card p-3 mb-4">
        <h5>@L["AddNewSupplier"]</h5>
        <EditForm Model="supplierModel" OnValidSubmit="HandleValidSubmit" FormName="StockForm">
            <DataAnnotationsValidator />
            <ValidationSummary />

            <div class="mb-3">
                <label>@L["NameLabel"]:</label>
                <InputText class="form-control" @bind-Value="supplierModel.Name" />
            </div>

            <button class="btn btn-primary me-2" type="submit">
                @L["AddSupplier"]
            </button>

        </EditForm>
    </div>

    <table class="table table-striped">
        <thead>
            <tr>
                <th>@L["Id"]</th>
                <th>@L["Name"]</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var s in suppliers)
            {
                <tr>
                    <td>@s.Key</td>
                    <td>@s.Value</td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    private Dictionary<int, string> suppliers = new();
    private SupplierDto supplierModel = new();
    private bool? isLoading = true;
    private string errorMessage = string.Empty;

    protected override async Task OnInitializedAsync()
    {
        await GetSuppliersAsync();

        if (isLoading != null)
            isLoading = false;
    }

    private async Task GetSuppliersAsync()
    {
        var result = await ApiClient.GetSuppliersAsync() ?? new();

        if (!result.Success)
        {
            errorMessage = result.Error;
            isLoading = null;
            return;
        }

        suppliers = result.Data?.ToDictionary(s => s.Id, s => s.Name) ?? new();
    }

    private async Task HandleValidSubmit()
    {
        var result = await ApiClient.AddSupplierAsync(supplierModel);
        if (!result.Success)
        {
            await JS.InvokeVoidAsync("alert", $"{L["ErrorAddingSupplier"]}: {result.Error}");
            return;
        }

        supplierModel = new();

        await GetSuppliersAsync();
    }

    [Inject] IJSRuntime JS { get; set; } = default!;
}
